<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr>
      </div>
    </div>

  <div class="container">
      <!-- Left column: Contact Info -->
      <div class="col-lg-3">
        <div class="contact-info">
          <p><span class="label">Full name:</span><span class="value">Kiran Channe</span></p>
          <p><span class="label">Email:</span><span class="value">kiranjchanne@gmail.com</span></p>
        </div>
      </div>

      <!-- Right column: Introduction -->
      <div class="col-lg-8 col-md-6 col-sm-12 intro-text">
        <h4>HELLO! I'm Kiran Channe.</h4>
        <p>I'm currently completing a Master's degree in Electrical and Computer Engineering at the University of Toronto, with a focus on Data Analytics and Machine Learning. 
          I also recently completed my undergraduate degree in Biomedical Engineering at Toronto Metropolitan University. 
          My current technical experience includes Python, JavaScript, HTML, C, C++, MATLAB, and AutoCAD. 
          I enjoy projects that challenge me to apply and develop new skills while prioritizing innovation. 
          Feel free to explore the rest of my website to learn about some of the projects I've worked on!</p>
      </div>
    </div>
  </div>
</section>


