<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr>
      </div>
    </div>

  <div class="container">
      <!-- Left column: Contact Info -->
      <div class="col-lg-3">
        <div class="contact-info">
          <p><span class="label">Full name:</span><span class="value">Kiran Channe</span></p>
          <p><span class="label">Email:</span><span class="value">kiranjchanne@gmail.com</span></p>
        </div>
      </div>

      <!-- Right column: Introduction -->
      <div class="col-lg-8 col-md-6 col-sm-12 intro-text">
        <h4>HELLO!</h4>
        <p>My name is Kiran Channe and I am a Biomedical Engineering student at Toronto Metropolitan University with a strong interest in the electrical and computer aspects of engineering. 
          My current technical experience includes Python, JavaScript, HTML, C, C++, MATLAB, and AutoCAD, and I'm eager to expand my skill set. 
          I enjoy working on projects that challenge me to apply and develop new skills, while prioritizing innovation. 
          Feel free to explore the rest of my website to learn about some of the projects I've worked on!</p>
      </div>
    </div>
  </div>
</section>


