<header class="hero-header">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="img/profile.jpg" alt="profile-pic" />
        <div class="intro-text">
          <span class="name">Kiran Channe</span>
          <span class="skills">Biomedical Engineering Student with a Passion for Innovation</span>
        <br>
          <a href="https://www.linkedin.com/in/kiran-channe/" 
             target="_blank" 
             class="linkedin-icon"
             aria-label="LinkedIn">
            <i class="fab fa-linkedin fa-2x"></i>
            <a href="https://github.com/kiranchanne" 
             target="_blank" 
             class="github-icon"
             aria-label="Github">
            <i class="fab fa-github fa-2x"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

