<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ post.title }}</h2>
            <hr class="star-primary">
            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            
            {% if post.caption %}
          <p class="text-muted text-center" style="font-size: 0.85em;">
          <em>{{ post.caption }}</em>
          </p>
          {% endif %}

            {% if post.description %}
            <p>{{ post.description }}</p>
            {% endif %}

            <ul class="list-inline item-details">
              {% if post.client %}
              <li>Client:
                <strong>{{ post.client }}</strong>
              </li>
              {% endif %}
              {% if post.project-date %}
              <li>Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              {% endif %}
              {% if post.category %}
              <li>Service:
                <strong>{{ post.category }}</strong>
              </li>
              {% endif %}
            </ul>

            {% if post.github or post.live %}
            <div class="portfolio-modal-links">
              {% if post.github %}
              <a href="{{ post.github }}" target="_blank" class="btn btn-primary">
                <i class="fab fa-github"></i> View on GitHub
              </a>
              {% endif %}
              {% if post.live %}
              <a href="{{ post.live }}" target="_blank" class="btn btn-success">
                <i class="fa fa-external-link-alt"></i> Assignment Tracker
              </a>
              {% endif %}
            </div>
            {% endif %}
            <br>  
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <i class="fa fa-times"></i> Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
